In [1]:
! pip install findspark

Requirement already satisfied: findspark in c:\users\chris\anaconda3\lib\site-packages (2.0.1)

In [2]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [3]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

In [5]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [6]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
    SELECT date_built, ROUND(AVG(price),2) 
    FROM home_sales
    WHERE bedrooms = 4
    GROUP BY date_built    
    """).show()

+----------+--------------------+
|date_built|round(avg(price), 2)|
+----------+--------------------+
|      2016|           296050.24|
|      2012|           298233.42|
|      2017|           296576.69|
|      2014|           299073.89|
|      2013|           299999.39|
|      2011|            302141.9|
|      2015|           307908.86|
|      2010|           296800.75|
+----------+--------------------+

In [7]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
SELECT date_built, format_number(AVG(price), 2) AS average_price, bedrooms, bathrooms
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY date_built, bedrooms, bathrooms
ORDER BY date_built DESC""").show()

+----------+-------------+--------+---------+
|date_built|average_price|bedrooms|bathrooms|
+----------+-------------+--------+---------+
|      2017|   292,676.79|       3|        3|
|      2016|   290,555.07|       3|        3|
|      2015|   288,770.30|       3|        3|
|      2014|   290,852.27|       3|        3|
|      2013|   295,962.27|       3|        3|
|      2012|   293,683.19|       3|        3|
|      2011|   291,117.47|       3|        3|
|      2010|   292,859.62|       3|        3|
+----------+-------------+--------+---------+

In [8]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
SELECT date_built, format_number(AVG(price), 2) AS average_price, bedrooms, bathrooms, floors
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY date_built, bedrooms, bathrooms, floors
ORDER BY date_built DESC""").show()

+----------+-------------+--------+---------+------+
|date_built|average_price|bedrooms|bathrooms|floors|
+----------+-------------+--------+---------+------+
|      2017|   280,317.58|       3|        3|     2|
|      2016|   293,965.10|       3|        3|     2|
|      2015|   297,609.97|       3|        3|     2|
|      2014|   298,264.72|       3|        3|     2|
|      2013|   303,676.79|       3|        3|     2|
|      2012|   307,539.97|       3|        3|     2|
|      2011|   276,553.81|       3|        3|     2|
|      2010|   285,010.22|       3|        3|     2|
+----------+-------------+--------+---------+------+

In [9]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) AS average_price, view
FROM home_sales
WHERE price >= 350000
GROUP BY view
ORDER BY view DESC""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|average_price|view|
+-------------+----+
| 1,061,201.42|  99|
| 1,053,739.33|  98|
| 1,129,040.15|  97|
| 1,017,815.92|  96|
| 1,054,325.60|  95|
| 1,033,536.20|  94|
| 1,026,006.06|  93|
|   970,402.55|  92|
| 1,137,372.73|  91|
| 1,062,654.16|  90|
|   401,393.34|   9|
| 1,107,839.15|  89|
| 1,031,719.35|  88|
| 1,072,285.20|  87|
| 1,070,444.25|  86|
| 1,056,336.74|  85|
| 1,117,233.13|  84|
| 1,033,965.93|  83|
| 1,063,498.00|  82|
| 1,053,472.79|  81|
+-------------+----+
only showing top 20 rows

--- 1.2343125343322754 seconds ---

In [10]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [11]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [12]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) AS average_price, view
FROM home_sales
WHERE price >= 350000
GROUP BY view
ORDER BY view DESC""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-------------+----+
|average_price|view|
+-------------+----+
| 1,061,201.42|  99|
| 1,053,739.33|  98|
| 1,129,040.15|  97|
| 1,017,815.92|  96|
| 1,054,325.60|  95|
| 1,033,536.20|  94|
| 1,026,006.06|  93|
|   970,402.55|  92|
| 1,137,372.73|  91|
| 1,062,654.16|  90|
|   401,393.34|   9|
| 1,107,839.15|  89|
| 1,031,719.35|  88|
| 1,072,285.20|  87|
| 1,070,444.25|  86|
| 1,056,336.74|  85|
| 1,117,233.13|  84|
| 1,033,965.93|  83|
| 1,063,498.00|  82|
| 1,053,472.79|  81|
+-------------+----+
only showing top 20 rows

--- 0.9871902465820312 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [ ]:
# 11. Read the formatted parquet data.
parquet_df = spark.read.parquet("parquet_home_sales")

In [ ]:
# 12. Create a temporary table for the parquet data.
parquet_df.createOrReplaceTempView("parquet_temp_table")

In [ ]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("""
SELECT format_number(AVG(price), 2) AS average_price, view
FROM home_sales
WHERE price >= 350000
GROUP BY view
ORDER BY view DESC""").show()

print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

In [ ]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached("home_sales")